@-webkit-keyframes load-screen__dots-animation {
  0% {
    opacity: 0;
  }
  40%, 50% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@keyframes load-screen__dots-animation {
  0% {
    opacity: 0;
  }
  40%, 50% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes load-screen-disappearing-aimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes load-screen-disappearing-aimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.load-screen {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.load-screen__dots-wrapper {
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load-screen__dots {
  width: 25px;
  height: 25px;
  background-color: #34dfec;
}

.load-screen__dots:first-child {
  -webkit-animation: 1s load-screen__dots-animation linear infinite;
          animation: 1s load-screen__dots-animation linear infinite;
}

.load-screen__dots:nth-child(2) {
  -webkit-animation: 1s .2s load-screen__dots-animation linear infinite;
          animation: 1s .2s load-screen__dots-animation linear infinite;
}

.load-screen__dots:last-child {
  -webkit-animation: 1s .4s load-screen__dots-animation linear infinite;
          animation: 1s .4s load-screen__dots-animation linear infinite;
}
